# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Model Files
*.pth
*.pt
*.ckpt

# Logs
*.log

# Dataset
data/raw/
data/processed/

# BraTS Dataset
BraTS*/
ASNR-MICCAI-BraTS2023*/

# Local dataset ZIP
200 patient zip.zip

100 Patient.zip
200 patient zip.zip
100 Patient/
Brain Tumor Data/
preprocessed_slices/
*.npz

preprocessed_slices.zip

predictions_comparison.png

# Outputs
outputs/
predictions/
results/

# OS Files
.DS_Store
Thumbs.db

.venv/
__pycache__/
.ipynb_checkpoints/

Brain Tumor Data/
300 Patient/
preprocessed_slices/

*.pth
*.pt

src/api_outputs/
api_outputs/

actual_vs_predicted.png
src/actual_vs_predicted.png
predictions_comparison.png