# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Model Files
*.pth
*.pt
*.ckpt

# Logs
*.log

# Dataset
data/raw/
data/processed/

# BraTS Dataset
BraTS*/
ASNR-MICCAI-BraTS2023*/

# Local dataset ZIP
200 patient zip.zip

100 Patient.zip
200 patient zip.zip
100 Patient/
Brain Tumor Data/
preprocessed_slices/
*.npz

preprocessed_slices.zip

# Outputs
outputs/
predictions/
results/

# OS Files
.DS_Store
Thumbs.db